{% extends 'shared/navbar.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1>TO-DO LIST</h1>
    
    <form method="POST" action=".">
        {% csrf_token %}
        <!-- Seção de adicionar tarefa -->
        <section class="addTask-container">
            <div class="input-group mb-3">
                <input name="title" type="text" id="taskInput" class="form-control" placeholder="Write a new task...">
                <select name="category" class="form-control categorySelect">
                    <option value="trabalho">Trabalho</option>
                    <option value="estudo">Estudo</option>
                    <option value="lazer">Lazer</option>
                    <option value="outra">Outra</option>
                </select>
                <div class="input-group-append">
                    <button name="action" value="add" type="submit" class="btn btn-primary">ADD</button>
                </div>
            </div>
        </section>
    </form>

    <!-- Seção de filtros e navegação -->
    <div class="wrapper mt-4">
        <select id="select-List" class="form-control" onchange="TypeList()">
            <option value="To-do">Pendentes</option>
            <option value="Done">Concluídas</option>
            <option value="All">Todas</option>
        </select>
        
        <nav class="ClassTasks mt-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#">Todas</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Trabalho</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Estudo</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Lazer</a></li>
            </ul>
        </nav>
    </div>
    
    
    <!-- Seção de tarefas pendentes -->
    <h3 class="mb-3">TAREFAS PENDENTES</h3>
    <ul>
        {% for Task in Tasks %}
            <li>
                {{ Task.title }} - {{ Task.category }}
                <form method="post" action="{% url 'todo_list' %}">
                    {% csrf_token %}
                    <input type="hidden" name="task_id" value="{{ Task.pk }}">
                    <button type="submit" name="action" value="delete">Deletar</button>
                    <button type="submit" name="action" value="complete">Concluir</button>
                </form>
            </li>
        {% empty %}
            <li>No tasks available.</li>
        {% endfor %}
    </ul>

    <!-- Seção de tarefas concluídas -->
    <section id="completed-Task" class="ListPage mt-4">
        <h3 class="mb-3">TAREFAS CONCLUÍDAS</h3>
        <ul id="completedTaskList" class="list-group"></ul>
    </section>

    <!-- Seção de todas as tarefas -->
    <section id="All-Task" class="ListPage mt-4">
        <h3 class="mb-3">TODAS AS TAREFAS</h3>
        <ul id="AllTaskList" class="list-group"></ul>
    </section>
</div>
{% endblock %}

<!--{% block scripts %}
     #script
{% endblock %}-->
