/* texto:#240a02;*/


.error {
    color: #f7031b; /* Cor vermelha do Bootstrap para erros */
    font-size: 0.875rem; /* Tamanho da fonte menor */
    margin-top: 0.25rem; /* Margem superior pequena */
    display: block; /* Faz com que o span se comporte como um bloco */
}

.btn-orange {
    font-weight: bold;
    color: #fff2e2;
    background-color: #ff5622;
}
.btn-orange:hover {
    color: #fff2e2;
    background-color: #f87952;
}

.bnt-big{
    font-size: 1.5rem; 
    padding: 0.75rem 1.5rem;
}
.custom-navbar {
    background-color: #641700;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
    color: #fff2e2; /* Cor do texto na barra de navegação */
    font-size: 15px; /* Tamanho da fonte grande */
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ff8661; /* Cor do texto ao passar o mouse por cima */
}

.custom-search:focus {
    border-color: #ff5622; /* Cor da borda rosa ao clicar/focar */
    box-shadow: 0 0 0 0.2rem #ff5622; /* Sombra rosa ao clicar/focar */
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #240a02;
}

