/* texto:#240a02;*/



.btn-orange {
    color: #240a02;
    background-color: #ff8661;
    border-color: #ff5622;
}
.btn-orange:hover {
    color: #fff2e2;
    background-color: #641700;
    border-color: #641700;
}

.custom-navbar {
    background-color: #641700;
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
    color: #fff2e2; /* Cor do texto na barra de navegação */
    font-size: 15px; /* Tamanho da fonte grande */
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: #ff8661; /* Cor do texto ao passar o mouse por cima */
}

.custom-search:focus {
    border-color: #ff5622; /* Cor da borda rosa ao clicar/focar */
    box-shadow: 0 0 0 0.2rem #ff5622; /* Sombra rosa ao clicar/focar */
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #240a02;
}